{% extends 'base.html.twig' %}

{% block title %}Détail de la formation{% endblock %}

{% block body %}

<div class="wrapper">
    <h1>Détail de la formation</h1>
    <article class="info-formation">

        <h2>{{ formation }}</h2>

        <p>{{ formation.description }}</p>

    </article>
    <p>Vous souhaitez modifier le titre ou la description ? </p>
    <a href="{{ path('edit_formation', {'id':formation.id}) }}">Editer</a>
</div>
{% endblock %}