{% extends 'base.html.twig' %}

{% block title %}Liste des programmes{% endblock %}

{% block body %}

<div class="example-wrapper">
    <h1>Liste des programmes</h1>

    <div class="list">
    {% for programme in programmes %}
        {{ programme }} <br>
        <p>{{ programme.module }} qui dure {{ programme.duration }} Jours</p>         
    {% endfor %}
    </div>
</div>
{# <a href="{{ path('delete_programme', {'id':programme.id}) }}">Supprimer</a> #}
{% endblock %}
